body {
    background: #f5f5f5;
}

.rounded-lg {
    border-radius: 1rem;
}

.nav-pills .nav-link {
    color: #555;
}

    .nav-pills .nav-link.active {
        color: #fff;
    }


.hstack {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
}


.vstack {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-self: stretch;
}

/*#seccionLegal {

    display:none
}
*/

.input-group-append {
    cursor: pointer;
}


.spanValidated {
    color:crimson;
    font-size:10px;
     
}

.form-control-rl i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}


.form-control-rl.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}


.form-control-rl.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}


.form-control-rl small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}


.form-control-rl.error small {
    visibility: visible;
}
