@model Formulario_SuministroCredito.Models.SuministroCredito


@{
    ViewData["Title"] = "Insert";

}






<div class="container ">

  


    <div class="row">
        <div class="container mx-auto">
            <form asp-action="Insert" asp-controller="SumiCred" name="suministros" class="validarForm" id="formSuministros" method="post" enctype="multipart/form-data" novalidate>
               
                <div class="row">
                    <nav class="card  mb-4">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card  border-0">
                                    <div class="hstack g-2" style="padding-top:36px">

                                        <img src="~/img/aliarlogo1.fw.png" alt="LogoAliar" width="160" height="90" class="img-fluid rounded-start">
                                        <img src="~/img/LOGO LA FAZENDA.png" alt="LogoFazenda" width="140" height="90" class="img-fluid rounded-start">
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-9">

                                <div class="card-body mx-0 px-0">
                                    <div class="card border-0">
                                        <h4 class="card-title " style="text-align:center">
                                            AGROPECUARIA ALIAR S.A.
                                        </h4>


                                    </div>

                                    <div class="container-fluid mx-0 px-3">
                                        <div class="card-body mx-0 px-0 ">
                                            <div class="row">
                                                <div class="hstack g-2 border">

                                                    <div class="col-sm-7">
                                                        <h6 style="text-align:center">FORMATO SOLICITUD SUMINISTRO Y CRÉDITO</h6>
                                                    </div>
                                                    <div class="vr"></div>
                                                    <div class="col-sm-2">
                                                        <h6 class="" style="text-align:center">Número</h6>
                                                    </div>
                                                    <div class="vr"></div>
                                                    <div class="form-group col-sm-2 disabled" style="text-align:center" id="Mi_consecutivo">
                                                        <strong>@ViewData["MiContador"]</strong>
                                                        @*<input class="form-control" style="text-align:right" value="" name="consec" id="consecutivo" readonly />*@

                                                    </div>

                                                </div>



                                            </div>

                                        </div>



                                        <div class="card-body mx-0 px-0">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="hstack g-2 border">
                                                        <div class="col-sm-3">
                                                            <h6 class="" style="text-align:center">Código</h6>
                                                            <p style="text-align:center">FIN-FT-001</p>
                                                        </div>
                                                        <div class="col-1 vr"></div>
                                                        <div class="col-sm-2">
                                                            <h6 class="" style="text-align:center">Versión</h6>
                                                            <p class="" style="text-align:center">03</p>
                                                        </div>
                                                        <div class="col-1 vr"></div>
                                                        <div class="col-sm-4">
                                                            <h6 class="" style="text-align:center">Código Documento Asociado</h6>
                                                            <p style="text-align:center">FIN-PR-001</p>
                                                        </div>
                                                        <div class="col-1 vr"></div>
                                                        <div class="col-sm-3">
                                                            <h6 class="" style="text-align:center">Fecha de Emisión</h6>
                                                            <p  class="" style="text-align:center">21-Feb-2023</p>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>


                                    </div>

                                </div>

                            </div>
                        </div>

                    </nav>
                    <br />
                    <div class="card  mb-3  mx-0 ">
                        <div class="row">
                            <h5 class="card-title border-bottom text-white  mx-0 px-0" style="text-align:center; background-color:firebrick">
                                1. DESCRIPCIÓN DE LA SOLICITUD
                            </h5>


                        </div>
                        <div class="container-fluid  mx-0 px-0">

                            <div class="card-body mx-0 px-0">
                                <div class="hstack gap-2">
                                    <div class="p-sm-2 mx-0 px-0">
                                        <h7>Fecha de Solicitud</h7>
                                    </div>
                                    <div class="p-sm-1 mx-0 px-0">

                                        <div class="p-sm-2">
                                            <div id=""><strong>@DateTime.Today.ToString("dd-MMM-yyyy")</strong></div>
                                           
                                        </div>
                                        @*<input asp-for="FechaRegistro" class="form-control me-auto disabled" id="fecha_reg" placeholder="@DateTime.Today.ToString("dd-MMM-yyyy") > *@
                                    </div>
                                    <div class="vr"></div>
                                    <div class="p-sm-2">
                                        <h7>Tipo Solicitud</h7>
                                    </div>

                                    <div class="form-group p-sm-2">
                                        <select asp-for="Tipo_solicitud" class="form-select" aria-label="tipoSolicitud" required>
                                            <option selected></option>
                                            <option value="Nuevo">Nuevo</option>
                                            <option value="Aumento">Aumento</option>

                                        </select>

                                    </div>
                                    <div class="vr"></div>
                                    <div class="p-sm-2">
                                        <h7>Monto $</h7>
                                    </div>

                                    <div>
                                        <input asp-for="Monto" type="number" class="form-control" id="" placeholder="" required>

                                    </div>
                                    <div class="vr"></div>
                                    <div class="p-sm-2">
                                        <h7>Plazo(Días)</h7>
                                    </div>

                                    <div class="p-sm-2">
                                        <input asp-for="Plazo" type="number" class="form-control me-auto" id="" placeholder="" required>

                                    </div>

                                </div>

                            </div>

                        </div>



                    </div>

                    <div class="card  mb-3 ">
                        <div class="row">
                            <h5 class="card-title border-bottom text-white" style="text-align:center; background-color:firebrick">
                                2. DATOS SOLICITANTE
                            </h5>
                        </div>
                            <div class="container-fluid mx-0 px-0">


                            <div class="card-body mx-0 px-0 border-bottom">
                                <div class="row">
                                    <div class="hstack gap-2 input-group has-validation">


                                        <div class="p-sm-2">
                                            <h6>Apellidos y Nombres o Razón Social</h6>
                                        </div>
                                        <div class="p-sm-2"></div>
                                        <div class="col-sm-9">
                                            <input asp-for="Apellidos_nombres_razon_social" class="form-control me-auto" type="text" placeholder="" aria-label="" required>

                                            <div>
                                                <span class="spanValidated" asp-validation-for="Apellidos_nombres_razon_social"></span>

                                            </div>

                                        </div>


                                    </div>

                                </div>

                            </div>

                            <div class="card-body mx-0 px-0 border-bottom">
                                <div class="row">
                                    <div class="hstack gap-2 ">
                                        <div class="p-sm-1">
                                            <h6>Tipo Persona</h6>
                                        </div>
                                      
                                        <div class="col-sm-2">
                                            <select asp-for="Tipo_persona" class="form-select me-auto" aria-label="tipoPersona" id="tipoPersona" required>
                                                <option selected></option>
                                                <option value="Natural">Natural</option>
                                                <option value="Jurídica">Jurídica</option>

                                            </select>
                                            <div>
                                                <span class="spanValidated" asp-validation-for="Tipo_persona"></span>

                                            </div>

                                        </div>

                                        <div class="vr"></div>
                                        <div class="p-sm-3">
                                            <h6>Tipo Identificación</h6>
                                        </div>
                                        <div class="col-sm-1">
                                            <select asp-for="Tipo_identificacion" class="form-select me-auto" aria-label="tipoIdentificacion" required>
                                                <option selected></option>
                                                <option value="Nit">Nit</option>
                                                <option value="C.C">C.C</option>
                                                <option value="C.E">C.E</option>

                                            </select>
                                            <div>
                                                <span class="spanValidated" asp-validation-for="Tipo_identificacion"></span>

                                            </div>

                                        </div>
                                        <div class="vr"></div>
                                        <div class="p-sm-2">
                                            <h6>Número</h6>
                                        </div>

                                        <div class="col-sm-2">
                                            <input asp-for="Numero_identificacion" class="form-control me-auto" type="text" placeholder="" aria-label="" required>

                                            <div>
                                                <span class="spanValidated" asp-validation-for="Numero_identificacion"></span>

                                            </div>
                                        </div>
                                        <div class=" col-1 vr"></div>
                                        <span class="p-sm-4"></span>


                                        <div class="p-sm-2">
                                            <h6>DV</h6>
                                        </div>

                                        <div class="col-sm-2">
                                            <input asp-for="DV" class="form-control me-auto" type="text" placeholder="" aria-label="" required>
                                            <div>
                                                <span class="spanValidated" asp-validation-for="Tipo_identificacion"></span>

                                            </div>
                                        </div>



                                    </div>


                                </div>

                            </div>


                                <div class="card-body mx-0 px-0 border-bottom ">

                                    <div class="row invisible" id="seccionLegal">

                                        <div class="hstack gap-2 ">

                                            <div class="p-sm-1">
                                                <h6>Representante Legal</h6>
                                            </div>

                                            <div class="col-sm-3">
                                                <input asp-for="Representante_legal" class="form-control me-auto" type="text" placeholder="" aria-label="" id="repLegalName" >
                                                    <div>
                                                    <span class="spanValidated" asp-validation-for="Representante_legal"></span>
                                                    </div>
                                            </div>
                                            <div class="col-1 vr"></div>

                                            <div class="p-sm-2">
                                                <h6>Cargo</h6>
                                            </div>

                                            <div class="col-sm-2">
                                                <input asp-for="Cargo" class="form-control me-auto" type="text" placeholder="" aria-label="" >
                                                    <div>
                                                        <span class="spanValidated" asp-validation-for="Cargo"></span>
                                                    </div>
                                            </div>

                                            <div class="vr"></div>

                                            <div class="p-sm-2">
                                                <h6>Correo Electrónico</h6>
                                            </div>

                                            <div class="form-control-rl col-sm-3">
                                                <input asp-for="Correo_electronico" class="form-control me-auto" type="email" placeholder="" id="email_reprLegal" aria-label="">
                                            <span asp-validation-for="Correo_electronico" class="text-danger"></span>
                                                <i class="fas fa-check-circle"></i>
                                                <i class="fas fa-exclamation-circle"></i>
                                                <small>Error message</small>

                                            </div>
                                               @* <div>
                                                    <span class="spanValidated" asp-validation-for="Correo_electronico"></span>
                                                </div>*@

                                        </div>
                                    </div>
                                </div>


                                <div class="card-body mx-0 px-0 border-bottom">

                                    <div class="row">

                                        <div class="hstack gap-2 ">
                                            <div class="p-sm-1 ">
                                                <h6>Dirección Correspondencia</h6>
                                            </div>
                                            <div class="col-sm-3 ">
                                                <input asp-for="Direccion_correspondencia" class="form-control me-auto" type="text" placeholder="" aria-label="" required>
                                            </div>
                                            <div class="col-1 vr"></div>
                                            <div class="p-sm-1">
                                                <h6>Departamento</h6>
                                            </div>
                                            <div class="col-sm-3">
                                            <input asp-for="Departamento" class="form-control me-auto" type="text" placeholder="" aria-label=""required>
                                           @* <select asp-for="Departamento" class="form-select me-auto" aria-label="tipoIdentificacion" required >
                                                
                                                <option id="departamentos"></option>
                                                
                                               
                                                    
                                                

                                            </select>
                                            *@

                                            </div>
                                            <div class="col-1 vr"></div>
                                            <div class="p-sm-1">
                                                <h6>Ciudad</h6>
                                            </div>

                                            <div class="col-sm-2">
                                                <input asp-for="Ciudad" class="form-control me-auto" type="text" placeholder="" aria-label="" required>
                                            </div>


                                        </div>

                                    </div>

                                </div>

                                <div class="card-body mx-0 px-0 ">
                                    <div class="row">
                                        <div class="hstack gap-2 ">
                                            <div class="p-sm-1">
                                                <h6>Teléfono</h6>
                                            </div>
                                            <div class="col-sm-2">
                                                <input asp-for="Telefono" class="form-control me-auto" type="tel" placeholder="" aria-label="" required>
                                            </div>
                                            <div class="col-1 vr"></div>
                                            <div class="p-sm-1">
                                                <h6>Celular</h6>
                                            </div>
                                            <div class="col-sm-2">
                                                <input asp-for="Celular" class="form-control me-auto" type="tel" placeholder="" aria-label="" required>
                                            </div>
                                            <div class="col-1 vr"></div>
                                            <div class="p-sm-1">
                                                <h6>Correo Electrónico Facturación</h6>
                                            </div>

                                            <div class="col-sm-4">
                                                <input asp-for="Correo_electronico_facturacion" class="form-control me-auto" type="email" placeholder="" aria-label="" required>
                                            </div>


                                        </div>
                                    </div>

                                </div>


                            </div>
                    </div>


                    <div class="card   mb-3">
                        <div class="row">

                        <h5 class="card-title border-bottom text-white" style="text-align:center; background-color:firebrick">
                            3. REFERENCIAS COMERCIALES
                        </h5>
                        </div>

                        <div class="container-fluid mx-0 px-0">

                            <div class="card-body mx-0 px-0 border-bottom">
                                <div class="col-sm-12">

                                    <div class="row">

                                        <div class="hstack gap-2 ">
                                            <div class="p-sm-2 mx-0 px-0">
                                                <h6>Entidad y/o Razón Social</h6>
                                            </div>
                                            <div class="col-sm-3 mx-0 px-0">
                                                <input asp-for="Entidad_razon_social_ref_comerciales" class="form-control me-auto" type="text" placeholder="" aria-label="" required>
                                            </div>
                                            <div class="vr"></div>
                                            <div class="p-sm-2 mx-0 px-0">
                                                <h6>Dirección</h6>
                                            </div>
                                            <div class="col-sm-6 mx-0 px-0">
                                                <input asp-for="Direccion_ref_comerciales" class="form-control me-auto" type="text" placeholder="" aria-label="" required>
                                            </div>

                                        </div>

                                    </div>
                                </div>


                            </div>

                            <div class="card-body mx-0 px-0 border-bottom ">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="hstack gap-2 ">
                                            <div class="p-sm-2 mx-0 px-0">
                                                <h6>Nombre de Contacto</h6>
                                            </div>
                                            <div class="col-sm-4 mx-0 px-0">
                                                <input asp-for="Nom_contacto_ref_comerciales" class="form-control me-auto" type="text" placeholder="" aria-label="" required>
                                            </div>
                                            <div class="vr"></div>
                                            <div class="p-sm-2 mx-0 px-0">
                                                <h6>Cargo</h6>
                                            </div>
                                            <div class="col-sm-3 mx-0 px-0">
                                                <input asp-for="Cargo_ref_comerciales" class="form-control me-auto" type="text" placeholder="" aria-label="" required>
                                            </div>
                                            <div class="vr"></div>
                                            <div class="p-sm-2 mx-0 px-0">
                                                <h6>Telefono</h6>
                                            </div>
                                            <div class="col-sm-2 mx-0 px-0">
                                                <input asp-for="Telefono_ref_comerciales" class="form-control me-auto" type="tel" placeholder="" aria-label="" required>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="card-body mx-0 px-0 border-bottom">

                                <div class="row">
                                    <div class="hstack gap-2">
                                        <div class="p-sm-2  mx-0 px-0">
                                            <h6>Entidad y/o Razón Social</h6>
                                        </div>
                                        <div class="col-sm-3  mx-0 px-0">
                                            <input asp-for="Entidad_razon_social_ref_comerciales_dos" class="form-control me-auto" type="text" placeholder="" aria-label="" required>
                                        </div>
                                        <div class="vr"></div>
                                        <div class="p-sm-2">
                                            <h6>Dirección</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <input asp-for="Direccion_ref_comerciales_dos" class="form-control me-auto" type="text" placeholder="" aria-label="" required>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="card-body mx-0 px-0 border-bottom ">

                                <div class="row">
                                    <div class="hstack gap-2 ">
                                        <div class="p-sm-2 mx-0 px-0">
                                            <h6>Nombre de Contacto</h6>
                                        </div>
                                        <div class="col-sm-4 mx-0 px-0">
                                            <input asp-for="Nom_contacto_ref_comerciales_dos" class="form-control me-auto" type="text" placeholder="" aria-label="" required>
                                        </div>
                                        <div class="vr"></div>
                                        <div class="p-sm-2 mx-0 px-0">
                                            <h6>Cargo</h6>
                                        </div>
                                        <div class="col-sm-3 mx-0 px-0">
                                            <input asp-for="Cargo_ref_comerciales_dos" class="form-control me-auto" type="text" placeholder="" aria-label="" required>
                                        </div>
                                        <div class="vr"></div>
                                        <div class="p-sm-2 mx-0 px-0">
                                            <h6>Telefono</h6>
                                        </div>
                                        <div class="col-sm-2 mx-0 px-0">
                                            <input asp-for="Telefono_ref_comerciales_dos" class="form-control me-auto" type="tel" placeholder="" aria-label="" required>
                                        </div>

                                    </div>

                                </div>

                            </div>



                        </div>

                    </div>


                    <div class="card mb-3">
                       
                        <div class="row">
                        <h5 class="card-title border-bottom text-white" style="text-align:center; background-color:firebrick">
                            4. REFERENCIA BANCARIA
                        </h5>

                        </div>

                        <div class="container-fluid mx-0 px-0">
                            <div class="card-body mx-0 px-0 border-bottom">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="hstack gap-2">

                                            <div class=" col-sm-2 mx-0 px-0">
                                                <h6>Entidad Financiera</h6>
                                            </div>
                                            <div class="col-sm-3 mx-0 px-0">
                                                <input asp-for="Entidad_financiera" class="form-control me-auto" type="text" placeholder="" aria-label="" required>
                                            </div>
                                            <div class="col-1 vr"></div>
                                            <div class=" col-sm-2  mx-0 px-0">
                                                <h6>Tipo de Cuenta</h6>
                                            </div>
                                            <div class="col-sm-4  mx-0 px-0">
                                                <select asp-for="Tipo_cuenta" class="form-select me-auto" type="text" placeholder="" aria-label="" required>
                                                    <option selected></option>
                                                    <option value="Ahorros">Ahorros</option>
                                                    <option value="Corriente">Corriente</option>

                                                </select>
                                            </div>


                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="card-body mx-0 px-0">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="hstack gap-2">

                                            <div class="col-sm-2 mx-0 px-0">
                                                <h6>Número de cuenta</h6>
                                            </div>
                                            <div class="col-sm-3 mx-0 px-0">
                                                <input asp-for="Numero_cuenta" class="form-control me-auto" type="text" placeholder="" aria-label="" required>
                                            </div>
                                            <div class="col-1 vr"></div>
                                            <div class="col-sm-2">
                                                <h6>Oficina</h6>
                                            </div>
                                            <div class="col-1 col-sm-4">
                                                <input asp-for="Oficina" class="form-control me-auto" type="text" placeholder="" aria-label="" required>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="card mb-3">
                       <div class="row">
                        <h5 class="card-title border-bottom text-white" style="text-align:center; background-color:firebrick">
                            5. CONTACTOS
                        </h5>

                       </div>
                        
                        <div class="row">

                            <div class="hstack gap-2">

                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Área</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">cargo</th>
                                            <th scope="col">Telefono</th>
                                            <th scope="col">Celular</th>
                                            <th scope="col">Correo Electrónico</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Tesorería</th>
                                            <td><input asp-for="Nombre_contacto_tesoreria" class="form-control me-auto" type="text" placeholder="" aria-label="" required></td>
                                            <td><input asp-for="Cargo_contacto_tesoreria" class="form-control me-auto" type="text" placeholder="" aria-label="" required></td>
                                            <td><input asp-for="Telefono_contacto_tesoreria" class="form-control me-auto" type="tel" placeholder="" aria-label="" required></td>
                                            <td><input asp-for="Celular_contacto_tesoreria" class="form-control me-auto" type="tel" placeholder="" aria-label="" required></td>
                                            <td><input asp-for="Correo_electronico_contacto_tesoreria" class="form-control me-auto" type="email" placeholder="" aria-label="" required></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Contabilidad</th>
                                            <td><input asp-for="Nombre_contacto_contabilidad" class="form-control me-auto" type="text" placeholder="" aria-label="" required></td>
                                            <td><input asp-for="Cargo_contacto_contabilidad" class="form-control me-auto" type="text" placeholder="" aria-label="" required></td>
                                            <td><input asp-for="Telefono_contacto_contabilidad" class="form-control me-auto" type="tel" placeholder="" aria-label="" required></td>
                                            <td><input asp-for="Celular_contacto_contabilidad" class="form-control me-auto" type="tel" placeholder="" aria-label="" required></td>
                                            <td><input asp-for="Correo_electronico_contacto_contabilidad" class="form-control me-auto" type="email" placeholder="" aria-label="" required></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Compras</th>
                                            <td><input asp-for="Nombre_contacto_compras" class="form-control me-auto" type="text" placeholder="" aria-label="" required></td>
                                            <td><input asp-for="Cargo_contacto_compras" class="form-control me-auto" type="text" placeholder="" aria-label="" required></td>
                                            <td><input asp-for="Telefono_contacto_compras" class="form-control me-auto" type="tel" placeholder="" aria-label="" required></td>
                                            <td><input asp-for="Celular_contacto_compras" class="form-control me-auto" type="tel" placeholder="" aria-label="" required></td>
                                            <td><input asp-for="Correo_electronico_contacto_compras" class="form-control me-auto" type="email" placeholder="" aria-label="" required></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>

                    <div class="card mb-3">
                       
                        <div class="row">
                            <h5 class="card-title border-bottom text-white" style="text-align:center; background-color:firebrick">
                                6. DOCUMENTOS REQUERIDOS
                            </h5>

                        </div>

                        <div class="container-fluid mx-0 px-0">

                            <div class="card-body mx-0 px-0 border-bottom">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="hstack gap-2 ">
                                            <div class="col-sm-8">
                                                <p style="font-size:13px;">RUT Actualizado.</p>
                                            </div>
                                            <div class="col-sm-3">
                                                <input asp-for="RutFile" class="form-control me-auto" type="file" name="rutFile" id="rut_file" accept="image/jpeg,image/png,application/pdf,.doc,.docx" required>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="card-body mx-0 px-0 border-bottom">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="hstack gap-2 ">
                                            <div class="col-sm-8">
                                                <p style="font-size:13px;">Estados Financieros a 31 de Diciembre vigencia inmediatamente anterior (Estado de situación financiera y Estado de Resultados).</p>
                                            </div>
                                            <div class="col-sm-3">
                                                <input asp-for="EstadoFinancieroFile" class="form-control me-auto" type="file" accept="image/jpeg,image/png,application/pdf,.doc,.docx" placeholder="" aria-label="">
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="card-body mx-0 px-0 border-bottom">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="hstack gap-2 ">
                                            <div class="col-sm-8">
                                                <p style="font-size:13px;">
                                                    Certificado de Existencia y Representación Legal inferior a 30 días.
                                                </p>
                                            </div>
                                            <div class="col-sm-3">
                                                <input asp-for="ExistenciaFile" class="form-control me-auto" type="file" accept="image/jpeg,image/png,application/pdf,.doc,.docx" placeholder="" aria-label="">
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="no_obligatorio invisible" id="no_obligatorios">

                                <div class="card-body mx-0 px-0 border-0">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="hstack gap-2 no_obligados" id="seccion_no_obligados">
                                                <div class="col-sm-8">
                                                    <p style="font-size:12px; text-align:justify">
                                                        Para no obligados a llevar contabilidad, anexar certificación de ingresos firmada <br />por Contador Público,
                                                        adjuntar fotocopia de la tarjeta profesional <br />y certificado de antecedentes expedido
                                                        por la Junta Cental de Contadores.
                                                    </p>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input asp-for="CertificadoIngresosFile" class="form-control me-auto" type="file" accept="image/jpeg,image/png,application/pdf,.doc,.docx" placeholder="" aria-label="">
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="card-body mx-0 px-0 border-0">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="hstack gap-2 no_obligados" id="seccion_no_obligados">
                                                <div class="col-sm-8">
                                                  @*  <p style="font-size:12px; text-align:justify">
                                                        Para no obligados a llevar contabilidad, anexar certificación de ingresos firmada <br />por Contador Público,
                                                        adjuntar fotocopia de la tarjeta profesional <br />y certificado de antecedentes expedido
                                                        por la Junta Cental de Contadores.
                                                    </p>*@
                                                </div>
                                                <div class="col-sm-3">
                                                    <input asp-for="TarjetaProfesionalFile" class="form-control me-auto" type="file" accept="image/jpeg,image/png,application/pdf,.doc,.docx" placeholder="" aria-label="">
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="card-body mx-0 px-0 border-0">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="hstack gap-2 no_obligados" id="seccion_no_obligados">
                                                <div class="col-sm-8">
                                                   @* <p style="font-size:12px; text-align:justify">
                                                        Para no obligados a llevar contabilidad, anexar certificación de ingresos firmada <br />por Contador Público,
                                                        adjuntar fotocopia de la tarjeta profesional <br />y certificado de antecedentes expedido
                                                        por la Junta Cental de Contadores.
                                                    </p>*@
                                                </div>
                                                <div class="col-sm-3">
                                                    <input asp-for="CertificadoAntecedentesFile" class="form-control me-auto" type="file" accept="image/jpeg,image/png,application/pdf,.doc,.docx" placeholder="" aria-label="">
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>



                            <div class="card-footer border-0 mx-0 px-0">
                                <div class="row">
                                    <div class="hstack gap-2">
                                        <p style="text-align:justify;font-size:13px">
                                            <span style="color:darkred"><b>Importante:</b></span>
                                            <b>
                                                Una vez aprobado el crédito Agropecuaria Aliar le enviará un pagaré y la carta de instrucciónes por correo certificado a la
                                                dirección de correspondencia diligenciada en el formato para su firma y autenticación biométrica, el cual debe enviar a la oficina principal
                                                ubicada en la dirección: Calle 29 N°25-72 Centro Comercial Cañaveral Ed. Urbanas Piso 3 y 4 en Floridablanca, Santander.
                                            </b>
                                        </p>
                                    </div>


                                </div>

                            </div>

                        </div>
                    </div>




                    <div class="card mb-3">

                        <div class="row">
                        <h5 class="card-title border-bottom text-white" style="text-align:center; background-color:firebrick">
                            7. AUTORIZACIÓN CONSULTA CENTRALES DE RIESGO Y TRATAMIENTO DE DATOS PERSONALES
                        </h5>

                        </div>
                        <div class="card-body mx-0 px-0">
                            <div class="row">
                                <div class="hstack gap-1">
                                    <p style="text-align:justify;font-size:13px">
                                        De forma libre, previamente informada y voluntaria, autorizo a <strong>AGROPECUARIA ALIAR S.A.</strong> a reportar, consultar, y solicitar a las centrales de riesgos de información
                                        financiera o cualquier otra entidad que maneje, tenga acceso, o administre base de datos con los mismos fines, todos los datos personales relativos a mi comportamiento comercial,
                                        financiero y de servicios, los cuales sean el resultado o surjan con ocasión a la relación comercial entre el titular y la compañía. Lo anterior implica que el
                                        cumplimiento o incumplimiento de mis obligaciones se reflejará en las mencionadas bases de datos, referentes a mi actual o pasado comportamiento frente a obligaciones a mi cargo.
                                        Con la presente autorización, presto mi consentimiento para la consulta e inclusión de mis datos personales en las centrales de información financiera que tenga acceso la compañía.
                                        Esta autorización se extenderá a favor de quien represente los derechos e intereses de <strong>AGROPECUARIA ALIAR S.A.</strong> En mi calidad de titular, tengo conocimiento de mis 
                                        derechos a presentar consultas y reclamos, y demás derechos y deberes contenidos en la Ley. Finalmente, acepto las condiciones del tratamiento, las cuales me han sido informadas, 
                                        aceptando además, mi derecho a consultar la Política de Tratamiento de Datos Personales de la compañía, disponible para su conocimiento en la página <a href="https://www.aliar.com.co/" target="_blank">www.aliar.com.co</a>.
                                    </p>
                                </div>


                            </div>
                            <div class="row">

                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck" required>
                                        <label class="form-check-label" for="gridCheck" style="text-align:justify;font-size:13px">
                                            Autoriza el tratamiento de datos sensibles.
                                        </label>
                                        <div class="invalid-feedback spanValidated">
                                            Debe aceptar el tratamiento.
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="card mb-3">
                       
                        <div class="row">
                            <h5 class="card-title border-bottom text-white" style="text-align:center; background-color:firebrick">
                                8. ACUERDO DE SUMINISTRO
                            </h5>

                        </div>
                        <div class="card-body mx-0 px-0">
                            <div class="row">
                                <div class="hstack gap-1">
                                    <p style="text-align:justify;font-size:12px">
                                        En el evento de ser aceptada la solicitud de suministro crédito aquí presentada, <strong>MANIFESTAMOS</strong> lo siguiente:
                                        <b>1.</b> Entendemos que se configura un acuerdo comercial de suministro y que <strong>AGROPECUARIA ALIAR S.A. –LA FAZENDA-</strong> se obliga para con la sociedad o persona natural
                                        que represento <strong>-CLIENTE-</strong> a suministrar periódicamente los productos cárnicos requeridos,
                                        <b>2.</b> Me obligo con <strong>AGROPECUARIA ALIAR S.A. –LA FAZENDA-</strong>  a cumplir oportunamente
                                        con el pago de los productos cárnicos alimenticios suministrados que solicite y que <strong>LA FAZENDA</strong> me (nos) suministre según su disponibilidad.
                                        <b>3.</b> El precio que pagaré a <strong>LA FAZENDA</strong>
                                        por los productos suministrados será el que corresponda al valor informado o concedido por <strong>la FAZENDA</strong> a la fecha del pedido.
                                        Me comprometo y obligo a cumplir con el pago del valor
                                        de los productos despachados por parte de <strong>LA FAZENDA</strong> y al cumplimiento en general de las políticas comerciales aplicables, tales como fechas de pedido, pagos,
                                        descuentos, publicidad, facturación, entregas entre otras.
                                        <b>4.</b> Conozco y acepto las políticas de la compañía, resaltando expresamente las siguientes:  <b>a).</b> El crédito tiene dos componentes, cupo y plazo, exceder cualquiera de los dos retiene
                                        automáticamente los despachos.  b). El pago de los productos despachados se deben realizar a través de: transferencias electrónicas, consignaciones bancarias y cheques girados únicamente
                                        a nombre de <strong>AGROPECUARIA ALIAR S.A.</strong> <b>c).</b> Ningún funcionario de Agropecuaria Aliar está autorizado a recibir dinero en <strong>EFECTIVO</strong> o <strong>CONSIGNACIONES</strong> 
                                        a sus cuentas personales.<strong>Cláusula aceleratoria:</strong> La mora en el pago total o parcial de cualquier obligación a cargo del <strong>CLIENTE</strong> a favor de <strong>AGROPECUARIA ALIAR SA</strong>, dará derecho a
                                        esta última para declarar vencidas las obligaciones del <strong>CLIENTE</strong> y exigir el pago inmediato de la totalidad de las mismas. <strong>AGROPECUARIA ALIAR SA</strong> se reserva
                                        el derecho de restituir el plazo de cualquiera de las obligaciones declaradas vencidas; en tal evento, los intereses de mora se liquidarán sobre el valor de las cuotas vencidas de las
                                        correspondientes obligaciones, sea que comprendan sólo capital, capital e intereses, o sólo intereses. <strong>AGROPECUARIA ALIAR SA</strong> notificará al <strong>CLIENTE</strong> que hará
                                        efectiva esta cláusula aceleratoria sin que medie su incumplimiento, con una antelación de TRES (3) días hábiles a la fecha en que se entenderá acelerado el plazo de la totalidad de sus
                                        obligaciones, sin reparo de cualquier otra garantía que respalde obligaciones mediante títulos valores a favor de la compañía.
                                    </p>
                                </div>


                            </div>
                            <div class="row">

                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck" required>
                                        <label class="form-check-label" for="gridCheck" style="text-align:justify;font-size:13px">
                                            Aceptación de solicitud.
                                        </label>
                                        <div class="invalid-feedback spanValidated">
                                            Debe aceptar la solicitud.
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                    <div class="card mb-4">
                        <div class="row">
                            <h5 class="card-title border-bottom text-white" style="text-align:center; background-color:firebrick">
                                FIRMA
                            </h5>

                        </div>

                        <div class="container-fluid px-0">

                            <div class="card-body mx-0 px-0">

                                <div class="row">
                                    <div class="col-sm-8">

                                        <div class="row">
                                            <div class="card-body">

                                                <div class="hstack gap-3">
                                                    <div class="col-2 col-sm-2">
                                                        <p style="font-size:13px;">Nombre y Apellido</p>
                                                    </div>
                                                    <div class="col-10 col-sm-6">
                                                        <input asp-for="Nombre_apellido_firma" class="form-control me-auto" type="text" placeholder="" aria-label=""required>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="card-body">
                                                <div class="hstack gap-3">
                                                    <div class="col-2 col-sm-2">
                                                        <p style="font-size:13px;">N° Cédula</p>
                                                    </div>
                                                    <div class="col-10 col-sm-6">
                                                        <input asp-for="Nro_cedula_firma" class="form-control me-auto" type="text" placeholder="" aria-label="" required> 
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="card-body">
                                                <div class="hstack gap-3 invisible" id="seccion_firma_legal">
                                                    <div class="col-2 col-sm-2">
                                                        <p style="font-size:13px;">En representación legal de</p>
                                                    </div>
                                                    <div class="col-10 col-sm-6 ">
                                                        <input asp-for="Representante_legal" class="form-control me-auto" type="text" placeholder="" aria-label="" id="representaLegal_firma" disabled>
                                                    </div>


                                                </div>

                                            </div>

                                        </div>


                                    </div>

                                    <div class="col-sm-4">
                                        <div class="card border-0">
                                            <div class="card-body border-0"></div>
                                        </div>
                                        <div class="card border-0">
                                            <div class="card-body border-0"></div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                SignRequest
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>


                        </div>

                    </div>


                    <div class="card mb-3" hidden>

                        <div class="row">
                        <h5 class="card-title border-bottom text-white" style="text-align:center; background-color:firebrick">
                            10. PARA USO EXCLUSIVO DE AGROPECUARIA ALIAR S.A.
                        </h5>

                        </div>
                        <div class="container-fluid px-0">

                            <div class="card-body border-bottom mx-0 px-0">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="hstack gap-3">

                                            <div class="col-sm-1 mx-0 px-0">
                                                <p style="font-size:13px;">Centro de Distribución</p>
                                            </div>
                                            <div class="col-2 col-sm-3">
                                                <select asp-for="Centro_distribucion" class="form-select me-auto" aria-label="CentroDistribucion">
                                                    <option selected></option>
                                                    <option value="Distribuidora Bogotá">Distribuidora Bogotá</option>
                                                    <option value="Distribuidora Bucaramanga">Distribuidora Bucaramanga</option>
                                                    <option value="Distribuidora Medellín">Distribuidora Medellín</option>
                                                    <option value="Agricultura">Agricultura</option>
                                                    <option value="Ganadería">Ganadería</option>
                                                    <option value="Harinas">Harinas</option>
                                                    <option value="Planta de Sacrificio">Planta de Sacrificio</option>
                                                    <option value="Frigorífico">Frigorífico</option>

                                                </select>
                                            </div>
                                            <div class="col-1 vr"></div>
                                            <div class="col-1 col-sm-1">
                                                <p style="font-size:13px;">Cupo Sugerido $</p>
                                            </div>
                                            <div class="col-2 col-sm-2">
                                                <input asp-for="Cupo_sugerido" class="form-control me-auto" type="text" placeholder="" aria-label="">
                                            </div>
                                            <span class="p-sm-4"></span>
                                            <div class="col-1 vr"></div>
                                            <div class="col-sm-1">
                                                <p style="font-size:13px;">Plazo(Días)</p>
                                            </div>
                                            <div class=" col-sm-2">
                                                <input asp-for="Plazo_aliar" class="form-control me-auto" type="text" placeholder="" aria-label="">
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>



                            <div class="card-body mx-0 px-0">

                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="hstack gap-2">
                                                <div class="col-sm-3">
                                                    <p style="font-size:13px;">Nombre y Apellido del Asesor Comercial</p>
                                                </div>
                                                <div class="col-sm-8">
                                                    <input asp-for="Nom_asesor_comercial" class="form-control me-auto" type="text" placeholder="" aria-label="">
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <div class="card-body">
                                                SignRequest
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="container-fluid">
                            <div class="card-body">
                                <input type="submit" value="guardar" class="btn btn-outline-success" />
                               
                            </div>
                           @* <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">

                                        <a  value="generar" class="btn-outline-info" asp-action="PdfNew" asp-controller="SumiCred" >Pdf</a>
                                    </div>
                                </div>

                            </div>*@
                        </div>
                    </div>


                    @*
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Código</label>
                        <input class="form-control" id="" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Versión</label>
                        <input class="form-control" id="" />
                    </div>*@
                </div>


            </form>

        </div>

    </div>


















</div>


